<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/66403bae4b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="/logic/index.js" defer></script>
    <title>To Do List Application</title>
  </head>
  <body>
    <div class="content-container">
      <h1><%= listTitle %></h1>
      <form method="post" action="/" class="item">
        <input
          type="text"
          placeholder="Enter To Do Here"
          name="todo"
          required
        />
        <button type="submit" value="<%= listTitle %>" name="list">+</button>
      </form>
    </div>

    <div class="list-container">
      <ul>
        <% if (locals.toDoList) { %> <% toDoList.forEach(element => { %>
        <form action="/delete" method="post">
          <div class="to-do-item">
            <li>
              <input
                type="checkbox"
                onchange="this.form.submit()"
                name="checkbox"
                value="<%=element._id%>"
              />
              <%= element.name %>
            </li>
          </div>
          <input type="hidden" name="listName" value="<%= listTitle%>" />
        </form>
        <% }) %> <% } %>
      </ul>
    </div>
  </body>
</html>
